<% content_for :title, 'Workshops' %>

<div class="row">
  <% @workshops.each do |workshop| %>
    <div class="col-md-3">

      <article class="project thumbnail">
        <%= link_to workshop do %>
          <h1><%= workshop %></h1>
        <% end %>
      </article>
  
    </div>
  <% end %>
</div>
