<div class="row users">
  <% @users.each do |user| %>
  <div class="col-md-2 user">
    <%= link_to user do %>
      <%= image_tag user.gravatar_url, class: 'img-circle img-responsive' %><br/>
      <%= user %> 
    <% end %>
  </div>
  <% end %>
</div>
