<% content_for :title, 'Utilisateurs' %>
<table class="table">
  <thead>
    <tr>
      <th>Etudiant</th>
      <th>Promotion</th>
      <th>Projet</th>
    </tr>
  </thead>
  <tbody>
    <% @users.includes(:promotion).each do |user| %>
      <tr>
        <td>
          <%= link_to user, user %>
          <%= link_to 'Edit', edit_user_path(user), class: 'btn btn-default btn-xs' if can? :edit, user %>
        </td>
        <td><%= link_to user.promotion, user.promotion %></td>
        <td><%= link_to user.project, user.project %></td>
      </tr>
    <% end %>
  </tbody>
</table>
