<div class="row">
  <div class="col-md-3">
    <%= image_tag @user.gravatar_url, class: 'img-circle img-responsive' %><br/>
    <h1><%= @user %></h1>
    <p><%= link_to @user.project, @user.project %></p>
  </div>
  <div class="col-md-9">
    <% @features.each do |feature| %>
      <div class="col-md-3">
        <%= render partial: 'features/badge', locals: { feature: feature, inactive: !@user.has_feature?(feature) } %>
      </div>
    <% end %>
  </div>
</div>