<div class="row">
  <%= link_to 'New', new_project_path if can? :create, Project %>
  <% @projects.each do |project| %>
    <div class="col-md3">
      <%= link_to project do %>
        <h2><%= project.name %></h2>
        <p><%= project.description %></p>
      <% end %>
    </div>
  <% end %>
</div>
