.feature-badge
  background-color: #999
  border-radius: 100%
  border-color: rgba(0, 0, 0, 0.2)
  border-width: 8px
  border-style: solid
  width: 150px
  height: 150px
  text-align: center
  display: inline-block
  margin-bottom: 10px
  &.inactive
    opacity: 0.2
  .level
    position: absolute
    font-size: 25px
    top: 75px
    left: 40px
    font-weight: bold
    color: black
  .glyphicon
    position: absolute
    width: 150px
    top: 0
    left: 10px
    font-size: 50px
    color: white
    line-height: 90px
  label
    position: absolute
    text-align: left
    top: 80px
    left: 60px
    width: 120px
    color: white
    font-size: 16px
    font-weight: 400
    text-transform: uppercase
    line-height: 16px
