* 
  font-family: 'Quattrocento', serif

h1
  text-align: center
  margin-left: auto
  margin-right: auto

.jumbotron
  margin-top: -60px
  min-height: 400px
  background-image: asset-url('background.jpg') 
  background-size: cover
  background-attachment: fixed
  color: white
  text-align: center
  padding-top: 220px
  font-size: 60px