<% content_for :title, 'Promotions' %>
<%= link_to 'New Promotion', new_promotion_path, class: 'btn btn-primary' if can? :create, Promotion %>
<table class="table">
  <thead>
    <tr>
      <th>Diplôme</th>
      <th>Etudiants</th>
    </tr>
  </thead>

  <tbody>
    <% @promotions.each do |promotion| %>
      <tr>
        <td><%= link_to promotion, promotion %></td>
        <td><%= promotion.users.count %></td>
      </tr>
    <% end %>
  </tbody>
</table>
