<h1>
  <%= render partial: 'badge', locals: { feature: @feature } %>
</h1>
<p><%= @feature.description %></p>

<h2>Projets présentant cette caractéristique</h2>
<ul>
  <% @feature.projects.each do |project| %>
    <li><%= link_to project, project %></li>
  <% end %>
</ul>